/*  */
@media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
    .row.vcenter {
        align-items: center;
    }
  }

  .front-category-menu {
    padding: 0;
    z-index: 501;
    position: relative;
    h3.widget-title {
        margin: 0;
        padding: 10px 10px 10px 15px;
        background: #eee;
        border: 1px solid #eee;
        color: #444;
    }

    ul li {
        border-bottom: none;
    }

    #front-cat-drop-stack {
        position: relative;
        ul {
            display: flex;
            align-items: stretch; /* Default */
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0;
            .children {
                display: none;
                position: absolute;
                margin: 20px;
                margin-top: 30px;
                z-index: 999;
                width: auto;
                padding: 0;
                border: 1px solid #ece7e7;
                a {
                    padding: 10px;
                }

                .caret-icon {
                    display: none;
                }

            }

            li {
                //position: relative;
                &:last-child {
                    a {
                        border-bottom: none !important;
                    }

                    &.has-children {
                        a {
                            border-bottom: none;
                            //position: relative;
                        }
                    }
                }
            }
        }

        > ul {
            padding: 20px;
            margin: 0px;
            li {
                padding:0;
                span.cat-icon{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #f2f4f5;
                    background-position: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                }

                &.parent-cat-wrap {
                    //background: #fff;
                    a {
                        margin: 0px 15px;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                    }
                    &.isOpen > ul.children { //itt nyilik a csillagkapu
                        display: block;
                    }
                    &.isOpen > a > .caret-icon{
                        transform: rotate(180deg);
                    }
                    ul {
                        &.level-0 {

                            margin: 0;
                            padding: 0;
                            background: #fff;
                            left: -1px;
                            right: -1px;
                            margin-top: 35px;
                            li {
                                &.has-children {
                                    border-bottom: none;
                                }
                            }
                            a {
                                text-align: left;
                            }
                            &:before, &:after {
                                content: " ";
                                position: absolute;
                                top: -10px;
                                right: 0;
                                left: 0;
                                margin: auto;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-style: inset;
                                border-width: 0 10px 10px 10px;
                                border-color: transparent transparent #fff transparent;
                                z-index: 3;
                            }
                            &:after {
                                border-width: 0 11px 11px 11px;
                                border-color: transparent transparent #ece7e7 transparent;
                                top: -12px;
                                z-index: 2;
                            }
                        }
                        &.level-1 {
                            display: block;
                            background: #fafafa;
                            border-left: none;
                            border-right: none;
                            position: relative;
                            padding: 0;
                            margin: 0;
                            li:hover{
                                background: #fff;
                            }
                            a {
                                font-weight: normal;
                                font-size: 14px;
                                text-align: left;
                                padding: 5px 10px 5px 25px;
                            }
                            li {
                                &.has-children {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }

                a {
                    padding: 9px 0px;
                    display: block;
                    color: #3C3C3C;
                    position: relative;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;

                    &:focus{ outline: none; }

                    .caret-icon {
                        position: absolute;
                        right: 0;
                        left: 0;
                        margin: auto;
                        bottom: -15px;
                        display: inline-block;
                        width: 20px;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.nav-cover{
    display: none;
}
.isOverlayActive .nav-cover {
    display: block;
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index:500;
    background-color:#222;
    opacity:.5;

   }

table#wpt_table.wpt_product_table tr>th {
    background-image: none !important;
    position: relative;
    &:after{
        position: absolute;
        right: 10px;
        top: 12px;
        font-family: "FontAwesome";
        color: #ddd;
        font-weight: normal;
        content: '\f0dc';
    }
    &.wpt_check:after, &.wpt_action:after,  &.wpt_thumbnails:after{
        display: none;
    }
}


table.termekek{
    tbody > tr > td, thead > tr > th {
        vertical-align: middle;
    }
    tr td:last-child {
        white-space: nowrap;
        width: 1px;
        text-align: right;
    }

    tfoot > tr > td{
        border-top: 2px solid #dddddd;
    }
    .woocommerce-ordering {
        select{
            border: 1px solid #ffffff;
            margin: 0;
            padding: 4px 40px 4px 10px;
            width: 100%;
            vertical-align: middle;
        }
    }
    .woocommerce-result-count {
        padding: 4px;
    }
}
.woocommerce .quantity .qty {
    width: 4.5em;
}